@mixin accueil{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5vh;

            // Responsive tablette
            @media (max-width: 992px){
                width: 95%;
            }

    p{
        text-align: center;
        font-size: 1.5em;
        color: $titleColor;
    }

    a{
        color: $contentColor;
    }
}