@import 'variables';

@mixin blog{

    section{
        padding-bottom: 5vh;
        width: 80%;
        margin: auto;
        display: flex;

        .oneArticle{
            width: 90%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            p{
                padding-bottom: 2vh;
                width: 70%;
                margin: auto;
            }

            .getArticle{
                background-color: $hoverColor;
                border-radius: 8px;
                border-color: $hoverColor;
                border-style: solid;

                a{
                    text-decoration: none;
                    color: $contentColor;
                }
            }
        }
    }
}