@import 'variables';

@mixin footer{
    background-color: $headerFooterColor;
    display: flex;
    align-items: center;
    img{
        width: 20%;
    }

    .links{
        width: 20%;
        margin: auto;
        text-align: center;
        
        ul{
            list-style-type: none;
        }

        a{
            text-decoration: none;
            color: $contentColor;
            font-size: 1.5em;
        }
    }
}