@import 'variables';

@mixin header {
    background-color: $headerFooterColor;
    display: flex;

    img {
        width: 20%;

        // Responsive tablette
        @media (max-width: 992px) {
            width: 30%;
        }
    }

    nav {
        width: 80%;
        margin: auto;

        // Responsive tablette
        @media (max-width: 992px) {
            width: 100%;
        }

        ul {
            width: 60%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            list-style-type: none;

            // Responsive tablette
            @media (max-width: 992px) {
                width: 90%;
            }

            a {
                text-decoration: none;
                color: $contentColor;
                font-size: 1.5em;

                // Responsive tablette
                @media (max-width: 992px) {
                    font-size: 1.25em;
                }
            }
        }
    }
}