@import 'variables';

@mixin header {
    
    img {
        width: 20%;

        //Responsive mobile
        @media (max-width: 992px) {
            width: 30%;
        }

        // Responsive mobile
        @media (max-width: 768px) {
            width: 40%;
        }
    }

    nav {
        width: 90%;
        margin: auto;

        ul {
            display: flex;
            justify-content: space-between;

            li {
                list-style-type: none;
            }


            //Responsive mobile
            @media (max-width: 768px) {
                width: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }

    /* Style the navigation menu */
    .topnav {
        background-color: $headerFooterColor;
        position: relative;
        display: flex;
        align-items: center;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        width: 60%;
        margin: auto;

        //Responsive mobile
        @media only screen and (max-width: 768px) {
            display: none;
        }

        //Responsive tablette
        @media (max-width: 992px) {
            width: 80%;
            margin: auto;

            a {
                width: 90%;
                margin: auto;
            }
        }

    }

    /* Style navigation menu links */
    .topnav a {
        color: $contentColor;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.25em;
        display: block;


    }

    /* Style the hamburger menu */
    .topnav a.icon {
        display: none;
        background: $headerFooterColor;

        @media only screen and (max-width: 768px) {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    /* Style the active link (or home/logo) */
    .active {
        background-color: $headerFooterColor;
    }
}