@import 'variables';

@mixin nosrecettes {
    width: 80%;
    margin: auto;
    position: relative;

    // Responsive tablette
    @media (max-width: 992px) {
        width: 95%;
    }


    h2 {
        text-align: center;
        color: $titleColor;
    }

    img {

        // Responsive tablette
        @media (max-width: 992px) {
            width: 40%;
            padding-bottom: 5vh;
        }
    }


    .antipastis {
        width: 60%;
        margin: auto;
        position: absolute;
        top: 10%;
        left: 40%;

        // Responsive tablette
        @media (max-width: 992px) {
            left: 41%;
        }

        // Responsive mobile
        @media (max-width: 768px) {
            top: 5%;
        }
    }

    .risotto {
        width: 60%;
        margin: auto;
        position: absolute;
        top: 45%;
        left: 40%;

        // Responsive tablette
        @media (max-width: 992px) {
            left: 41%;
            top: 41%;
        }
    }

    .dessert {
        width: 60%;
        margin: auto;
        position: absolute;
        top: 75%;
        left: 40%;

        // Responsive tablette
        @media (max-width: 992px) {
            left: 41%;
            top: 75%;
        }
    }
}